run_metadata:
  description: Project description
  local_data_registry: {{instance._global_config['registries']['local']['uri']}}
  default_input_namespace: {{instance._local_config['namespaces']['input'] if instance._local_config['namespaces']['input'] else 'null'}}
  default_output_namespace: {{instance._local_config['namespaces']['output']}}
  write_data_store: {{data_dir}}
  local_repo: {{local_repo}}
